<launch>
  <arg name="drone_id" default="0"/>
  <arg name="obj_num" default="10" />

  <arg name="map_size_x" default="400"/>
  <arg name="map_size_y" default="400"/>
  <arg name="map_size_z" default="7"/>

  <!-- Raw FCU odometry remains available to the manager and cloud converter. -->
  <arg name="odom_topic" default="/mavros/local_position/odom"/>
  <!-- EGO expects linear velocity in world axes, unlike MAVROS odom twist. -->
  <arg name="planner_odom_topic" default="/ego/odom_world_velocity"/>
  <arg name="enable_odom_velocity_adapter" default="true"/>
  <arg name="odom_twist_in_body_frame" default="true"/>
  <arg name="use_airsim_bridge" default="false"/>
  <arg name="input_cloud_topic" default="/airsim_node/Copter/lidar/Lidar1"/>
  <arg name="lidar_world_topic" default="/world_cloud"/>
  <arg name="lidar_world_odom_topic" default="$(arg odom_topic)"/>
  <arg name="lidar_output_frame" default=""/>
  <arg name="lidar_data_frame" default="sensor_local_frd"/>
  <arg name="lidar_world_rate_hz" default="20.0"/>

  <arg name="lidar_x" default="0.0"/>
  <arg name="lidar_y" default="0.0"/>
  <arg name="lidar_z" default="0.0"/>
  <arg name="lidar_roll" default="0.0"/>
  <arg name="lidar_pitch" default="0.0"/>
  <arg name="lidar_yaw" default="0.0"/>

  <arg name="cx" default="323.3316345214844"/>
  <arg name="cy" default="234.95498657226562"/>
  <arg name="fx" default="384.39654541015625"/>
  <arg name="fy" default="384.39654541015625"/>

  <arg name="max_vel" default="1.0" />
  <arg name="max_acc" default="2.0" />
  <arg name="acceleration_ff_scale" default="1.0" />
  <arg name="planning_horizon" default="6" />
  <arg name="use_distinctive_trajs" default="false" />
  <arg name="planning_enabled_on_start" default="false" />
  <arg name="use_2d_astar" default="false"/>
  <arg name="planar_entry_tolerance" default="0.05"/>
  <arg name="planar_entry_max_vz" default="0.10"/>
  <arg name="planar_z_epsilon" default="0.0001"/>
  <arg name="lambda_smooth" default="1.0"/>
  <arg name="lambda_collision" default="1.0"/>
  <arg name="lambda_feasibility" default="0.2"/>
  <arg name="lambda_fitness" default="1.0"/>
  <arg name="dist0" default="0.5"/>

  <arg name="point_num" default="1" />
  <arg name="point0_x" default="15.0" />
  <arg name="point0_y" default="0.0" />
  <arg name="point0_z" default="1.0" />
  <arg name="point1_x" default="0.0" />
  <arg name="point1_y" default="0.0" />
  <arg name="point1_z" default="1.0" />
  <arg name="point2_x" default="15.0" />
  <arg name="point2_y" default="0.0" />
  <arg name="point2_z" default="1.0" />
  <arg name="point3_x" default="0.0" />
  <arg name="point3_y" default="0.0" />
  <arg name="point3_z" default="1.0" />
  <arg name="point4_x" default="15.0" />
  <arg name="point4_y" default="0.0" />
  <arg name="point4_z" default="1.0" />

  <arg name="guided_mode" default="GUIDED"/>
  <arg name="auto_mode" default="AUTO"/>
  <arg name="loiter_mode" default="LOITER"/>
  <arg name="mission_source" default="fcu"/>
  <arg name="planning_service" default="/drone_$(arg drone_id)_ego_planner_node/set_planning_enabled"/>
  <arg name="planning_service_timeout" default="5.0"/>
  <arg name="set_auto_on_start" default="true"/>
  <arg name="auto_start_delay" default="2.0"/>
  <arg name="avoidance_flag_topic" default="/mission_auto_avoid/avoidance_active"/>
  <arg name="planner_cmd_topic" default="/position_cmd"/>
  <arg name="waypoint_file" default="$(find mission_auto_avoid)/config/mission_waypoints.yaml"/>
  <arg name="mission_ready_param" default="/mission_auto_avoid/mission_ready"/>
  <arg name="fcu_waypoints_topic" default="/mavros/mission/waypoints"/>
  <arg name="fcu_origin_topic" default="/mavros/global_position/gp_origin"/>
  <arg name="fcu_set_current_service" default="/mavros/mission/set_current"/>
  <arg name="mission_start_wp_seq" default="0"/>
  <arg name="mission_set_current_after_upload" default="false"/>
  <arg name="mission_prepend_home_placeholder" default="true"/>
  <arg name="mission_waypoint_hold_time" default="3.0"/>

  <arg name="obstacle_distance_threshold" default="0.8"/>
  <arg name="clear_distance_threshold" default="1.2"/>
  <arg name="lookahead_distance" default="10.0"/>
  <arg name="min_forward_distance" default="0.5"/>
  <arg name="route_obstacle_distance_threshold" default="$(arg obstacle_distance_threshold)"/>
  <arg name="route_clear_distance_threshold" default="$(arg clear_distance_threshold)"/>
  <arg name="route_lookahead_distance" default="$(arg lookahead_distance)"/>
  <arg name="route_min_forward_distance" default="$(arg min_forward_distance)"/>
  <arg name="local_obstacle_distance_threshold" default="$(arg obstacle_distance_threshold)"/>
  <arg name="local_clear_distance_threshold" default="$(arg clear_distance_threshold)"/>
  <arg name="local_lookahead_distance" default="3.0"/>
  <arg name="local_min_forward_distance" default="$(arg min_forward_distance)"/>
  <arg name="waypoint_reached_radius" default="1.0"/>
  <arg name="sync_fcu_current_on_auto_resume" default="false"/>
  <arg name="continue_guided_to_next_fcu_waypoint" default="true"/>
  <arg name="fcu_guided_continue_retry_interval" default="1.0"/>
  <arg name="fcu_set_current_dist_threshold" default="$(arg waypoint_reached_radius)"/>
  <arg name="route_rejoin_tolerance" default="0.6"/>
  <arg name="route_rejoin_enter_tolerance" default="1.0"/>
  <arg name="rejoin_forward_distance" default="2.0"/>
  <arg name="avoidance_min_duration" default="2.0"/>
  <arg name="clear_hold_time" default="1.0"/>
  <arg name="guided_exit_debounce" default="2.0"/>
  <arg name="fcu_goal_arrival_exit_hold_time" default="1.0"/>
  <arg name="fcu_goal_arrival_exit_xy_tolerance" default="0.4"/>
  <arg name="fcu_goal_arrival_exit_z_tolerance" default="0.3"/>
  <arg name="fcu_goal_arrival_exit_max_xy_speed" default="0.25"/>
  <arg name="fcu_goal_arrival_exit_max_vz" default="0.15"/>
  <arg name="guided_hold_speed_threshold" default="0.2"/>
  <arg name="post_takeoff_settle_time" default="1.0"/>
  <arg name="post_takeoff_settle_z_tolerance" default="0.4"/>
  <arg name="post_takeoff_settle_max_vz" default="0.10"/>
  <arg name="planner_cmd_timeout" default="0.5"/>
  <arg name="planner_valid_hold_time" default="1.0"/>
  <arg name="planner_motion_recent_window" default="1.0"/>
  <arg name="planner_cmd_min_speed" default="0.15"/>
  <arg name="planner_cmd_min_acc" default="0.2"/>
  <arg name="planner_cmd_min_pos_error" default="0.2"/>
  <arg name="require_new_planner_traj" default="true"/>
  <arg name="pre_takeover_goal_retry_interval" default="0.5"/>
  <arg name="stale_goal_retry_interval" default="1.0"/>
  <arg name="takeover_max_cmd_distance" default="1.0"/>
  <arg name="avoidance_takeover_max_setpoint_jump" default="$(arg takeover_max_cmd_distance)"/>
  <arg name="odom_timeout" default="1.0"/>
  <arg name="inflated_cloud_topic" default="/drone_$(arg drone_id)_ego_planner_node/grid_map/occupancy_inflate"/>
  <arg name="rejoin_path_lookahead_distance" default="5.0"/>
  <arg name="rejoin_clear_distance_threshold" default="$(arg local_clear_distance_threshold)"/>
  <arg name="inflated_rejoin_clear_distance_threshold" default="0.25"/>
  <arg name="rejoin_current_clearance_threshold" default="0.25"/>
  <arg name="exit_current_clearance_threshold" default="0.5"/>
  <arg name="enable_rviz" default="true"/>

  <include if="$(arg use_airsim_bridge)" file="$(find airsim_bridge)/launch/lidar_to_world_enu.launch">
    <arg name="raw_odom_topic" value="/airsim_node/Copter/odom_local_ned"/>
    <arg name="reference_odom_topic" value="$(arg odom_topic)"/>
    <arg name="raw_cloud_topic" value="$(arg input_cloud_topic)"/>
    <arg name="output_cloud_topic" value="$(arg lidar_world_topic)"/>
    <arg name="output_odom_topic" value="$(arg lidar_world_odom_topic)"/>
    <arg name="output_frame_id" value="world"/>
    <arg name="raw_points_are_ned" value="false"/>
    <arg name="align_z" value="false"/>
    <arg name="use_reference_odom_pose" value="true"/>
    <arg name="sensor_frame_is_frd" value="true"/>
    <arg name="publish_synced_odom" value="true"/>
    <arg name="sync_queue_size" value="10"/>
    <arg name="sync_lower_bound_sec" value="-1.0"/>
    <arg name="cloud_sync_lower_bound_sec" value="0.05"/>
    <arg name="odom_sync_lower_bound_sec" value="0.005"/>
    <arg name="sync_max_interval_sec" value="0.05"/>
    <arg name="output_cloud_rate_hz" value="$(arg lidar_world_rate_hz)"/>
    <arg name="sensor_offset_x" value="$(arg lidar_x)"/>
    <arg name="sensor_offset_y" value="$(arg lidar_y)"/>
    <arg name="sensor_offset_z" value="$(arg lidar_z)"/>
    <arg name="sensor_roll_deg" value="$(arg lidar_roll)"/>
    <arg name="sensor_pitch_deg" value="$(arg lidar_pitch)"/>
    <arg name="sensor_yaw_deg" value="$(arg lidar_yaw)"/>
  </include>

  <!-- Convert MAVROS child-frame twist into world-frame twist for EGO only. -->
  <include if="$(arg enable_odom_velocity_adapter)"
           file="$(find mission_auto_avoid)/launch/odom_velocity_to_world.launch">
    <arg name="input_odom_topic" value="$(arg odom_topic)"/>
    <arg name="output_odom_topic" value="$(arg planner_odom_topic)"/>
    <arg name="input_twist_in_body_frame" value="$(arg odom_twist_in_body_frame)"/>
  </include>

  <include file="$(find mission_auto_avoid)/launch/planner_external_target.launch">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="odom_topic" value="$(arg planner_odom_topic)"/>
    <arg name="cloud_topic" value="$(arg lidar_world_topic)"/>
    <arg name="use_dynamic_drone_occupancy" value="false"/>
    <arg name="cx" value="$(arg cx)"/>
    <arg name="cy" value="$(arg cy)"/>
    <arg name="fx" value="$(arg fx)"/>
    <arg name="fy" value="$(arg fy)"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="$(arg planning_horizon)"/>
    <arg name="use_distinctive_trajs" value="$(arg use_distinctive_trajs)"/>
    <arg name="planning_enabled_on_start" value="$(arg planning_enabled_on_start)"/>
    <arg name="use_2d_astar" value="$(arg use_2d_astar)"/>
    <arg name="planar_entry_tolerance" value="$(arg planar_entry_tolerance)"/>
    <arg name="planar_entry_max_vz" value="$(arg planar_entry_max_vz)"/>
    <arg name="planar_z_epsilon" value="$(arg planar_z_epsilon)"/>
    <arg name="lambda_smooth" value="$(arg lambda_smooth)"/>
    <arg name="lambda_collision" value="$(arg lambda_collision)"/>
    <arg name="lambda_feasibility" value="$(arg lambda_feasibility)"/>
    <arg name="lambda_fitness" value="$(arg lambda_fitness)"/>
    <arg name="dist0" value="$(arg dist0)"/>
    <arg name="point_num" value="$(arg point_num)"/>
    <arg name="point0_x" value="$(arg point0_x)"/>
    <arg name="point0_y" value="$(arg point0_y)"/>
    <arg name="point0_z" value="$(arg point0_z)"/>
    <arg name="point1_x" value="$(arg point1_x)"/>
    <arg name="point1_y" value="$(arg point1_y)"/>
    <arg name="point1_z" value="$(arg point1_z)"/>
    <arg name="point2_x" value="$(arg point2_x)"/>
    <arg name="point2_y" value="$(arg point2_y)"/>
    <arg name="point2_z" value="$(arg point2_z)"/>
    <arg name="point3_x" value="$(arg point3_x)"/>
    <arg name="point3_y" value="$(arg point3_y)"/>
    <arg name="point3_z" value="$(arg point3_z)"/>
    <arg name="point4_x" value="$(arg point4_x)"/>
    <arg name="point4_y" value="$(arg point4_y)"/>
    <arg name="point4_z" value="$(arg point4_z)"/>
    <arg name="enable_rviz" value="$(arg enable_rviz)"/>
  </include>

  <param name="guided_mode" value="$(arg guided_mode)" />
  <param name="auto_mode" value="$(arg auto_mode)" />
  <param name="loiter_mode" value="$(arg loiter_mode)" />
  <param name="avoidance_enable_topic" value="$(arg avoidance_flag_topic)" />
  <param name="avoidance_takeover_max_setpoint_jump" value="$(arg avoidance_takeover_max_setpoint_jump)" />
  <param name="acceleration_ff_scale" value="$(arg acceleration_ff_scale)" />


  <include file="$(find px4)/launch/apm_auto.launch" />

  <node if="$(eval arg('mission_source') == 'file')" pkg="mission_auto_avoid" type="mission_waypoint_uploader.py" name="mission_waypoint_uploader" output="screen">
    <param name="waypoint_file" value="$(arg waypoint_file)"/>
    <param name="mission_ready_param" value="$(arg mission_ready_param)"/>
    <param name="start_wp_seq" value="$(arg mission_start_wp_seq)"/>
    <param name="set_current_after_upload" value="$(arg mission_set_current_after_upload)"/>
    <param name="prepend_home_placeholder" value="$(arg mission_prepend_home_placeholder)"/>
    <param name="waypoint_hold_time" value="$(arg mission_waypoint_hold_time)"/>
  </node>

  <node pkg="mission_auto_avoid" type="auto_avoid_manager.py" name="auto_avoid_manager" output="screen">
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="point_cloud_topic" value="$(arg inflated_cloud_topic)"/>
    <param name="goal_topic" value="/ego_input_target"/>
    <param name="goal_frame_id" value="world"/>
    <param name="avoidance_flag_topic" value="$(arg avoidance_flag_topic)"/>
    <param name="planner_cmd_topic" value="$(arg planner_cmd_topic)"/>
    <param name="mission_source" value="$(arg mission_source)"/>
    <param name="waypoint_file" value="$(arg waypoint_file)"/>
    <param name="mission_ready_param" value="$(arg mission_ready_param)"/>
    <param name="fcu_waypoints_topic" value="$(arg fcu_waypoints_topic)"/>
    <param name="fcu_origin_topic" value="$(arg fcu_origin_topic)"/>
    <param name="fcu_set_current_service" value="$(arg fcu_set_current_service)"/>

    <param name="guided_mode" value="$(arg guided_mode)"/>
    <param name="auto_mode" value="$(arg auto_mode)"/>
    <param name="planning_service" value="$(arg planning_service)"/>
    <param name="planning_service_timeout" value="$(arg planning_service_timeout)"/>
    <param name="set_auto_on_start" value="$(eval 'false' if arg('mission_source') == 'fcu' else arg('set_auto_on_start'))"/>
    <param name="auto_start_delay" value="$(arg auto_start_delay)"/>

    <param name="obstacle_distance_threshold" value="$(arg obstacle_distance_threshold)"/>
    <param name="clear_distance_threshold" value="$(arg clear_distance_threshold)"/>
    <param name="lookahead_distance" value="$(arg lookahead_distance)"/>
    <param name="min_forward_distance" value="$(arg min_forward_distance)"/>
    <param name="route_obstacle_distance_threshold" value="$(arg route_obstacle_distance_threshold)"/>
    <param name="route_clear_distance_threshold" value="$(arg route_clear_distance_threshold)"/>
    <param name="route_lookahead_distance" value="$(arg route_lookahead_distance)"/>
    <param name="route_min_forward_distance" value="$(arg route_min_forward_distance)"/>
    <param name="local_obstacle_distance_threshold" value="$(arg local_obstacle_distance_threshold)"/>
    <param name="local_clear_distance_threshold" value="$(arg local_clear_distance_threshold)"/>
    <param name="local_lookahead_distance" value="$(arg local_lookahead_distance)"/>
    <param name="local_min_forward_distance" value="$(arg local_min_forward_distance)"/>
    <param name="waypoint_reached_radius" value="$(arg waypoint_reached_radius)"/>
    <param name="sync_fcu_current_on_auto_resume" value="$(arg sync_fcu_current_on_auto_resume)"/>
    <param name="continue_guided_to_next_fcu_waypoint" value="$(arg continue_guided_to_next_fcu_waypoint)"/>
    <param name="fcu_guided_continue_retry_interval" value="$(arg fcu_guided_continue_retry_interval)"/>
    <param name="fcu_set_current_dist_threshold" value="$(arg fcu_set_current_dist_threshold)"/>
    <param name="waypoint_hold_time" value="$(arg mission_waypoint_hold_time)"/>
    <param name="route_rejoin_tolerance" value="$(arg route_rejoin_tolerance)"/>
    <param name="route_rejoin_enter_tolerance" value="$(arg route_rejoin_enter_tolerance)"/>
    <param name="rejoin_forward_distance" value="$(arg rejoin_forward_distance)"/>
    <param name="avoidance_min_duration" value="$(arg avoidance_min_duration)"/>
    <param name="clear_hold_time" value="$(arg clear_hold_time)"/>
    <param name="guided_exit_debounce" value="$(arg guided_exit_debounce)"/>
    <param name="fcu_goal_arrival_exit_hold_time" value="$(arg fcu_goal_arrival_exit_hold_time)"/>
    <param name="fcu_goal_arrival_exit_xy_tolerance" value="$(arg fcu_goal_arrival_exit_xy_tolerance)"/>
    <param name="fcu_goal_arrival_exit_z_tolerance" value="$(arg fcu_goal_arrival_exit_z_tolerance)"/>
    <param name="fcu_goal_arrival_exit_max_xy_speed" value="$(arg fcu_goal_arrival_exit_max_xy_speed)"/>
    <param name="fcu_goal_arrival_exit_max_vz" value="$(arg fcu_goal_arrival_exit_max_vz)"/>
    <param name="guided_hold_speed_threshold" value="$(arg guided_hold_speed_threshold)"/>
    <param name="post_takeoff_settle_time" value="$(arg post_takeoff_settle_time)"/>
    <param name="post_takeoff_settle_z_tolerance" value="$(arg post_takeoff_settle_z_tolerance)"/>
    <param name="post_takeoff_settle_max_vz" value="$(arg post_takeoff_settle_max_vz)"/>
    <param name="planner_cmd_timeout" value="$(arg planner_cmd_timeout)"/>
    <param name="planner_valid_hold_time" value="$(arg planner_valid_hold_time)"/>
    <param name="planner_motion_recent_window" value="$(arg planner_motion_recent_window)"/>
    <param name="planner_cmd_min_speed" value="$(arg planner_cmd_min_speed)"/>
    <param name="planner_cmd_min_acc" value="$(arg planner_cmd_min_acc)"/>
    <param name="planner_cmd_min_pos_error" value="$(arg planner_cmd_min_pos_error)"/>
    <param name="require_new_planner_traj" value="$(arg require_new_planner_traj)"/>
    <param name="pre_takeover_goal_retry_interval" value="$(arg pre_takeover_goal_retry_interval)"/>
    <param name="stale_goal_retry_interval" value="$(arg stale_goal_retry_interval)"/>
    <param name="takeover_max_cmd_distance" value="$(arg takeover_max_cmd_distance)"/>
    <param name="odom_timeout" value="$(arg odom_timeout)"/>
    <param name="inflated_cloud_topic" value="$(arg inflated_cloud_topic)"/>
    <param name="rejoin_path_lookahead_distance" value="$(arg rejoin_path_lookahead_distance)"/>
    <param name="rejoin_clear_distance_threshold" value="$(arg rejoin_clear_distance_threshold)"/>
    <param name="inflated_rejoin_clear_distance_threshold" value="$(arg inflated_rejoin_clear_distance_threshold)"/>
    <param name="rejoin_current_clearance_threshold" value="$(arg rejoin_current_clearance_threshold)"/>
    <param name="exit_current_clearance_threshold" value="$(arg exit_current_clearance_threshold)"/>

    <param name="mission/point_num" value="$(arg point_num)"/>
    <param name="mission/point0_x" value="$(arg point0_x)"/>
    <param name="mission/point0_y" value="$(arg point0_y)"/>
    <param name="mission/point0_z" value="$(arg point0_z)"/>
    <param name="mission/point1_x" value="$(arg point1_x)"/>
    <param name="mission/point1_y" value="$(arg point1_y)"/>
    <param name="mission/point1_z" value="$(arg point1_z)"/>
    <param name="mission/point2_x" value="$(arg point2_x)"/>
    <param name="mission/point2_y" value="$(arg point2_y)"/>
    <param name="mission/point2_z" value="$(arg point2_z)"/>
    <param name="mission/point3_x" value="$(arg point3_x)"/>
    <param name="mission/point3_y" value="$(arg point3_y)"/>
    <param name="mission/point3_z" value="$(arg point3_z)"/>
    <param name="mission/point4_x" value="$(arg point4_x)"/>
    <param name="mission/point4_y" value="$(arg point4_y)"/>
    <param name="mission/point4_z" value="$(arg point4_z)"/>
  </node>

</launch>
