<launch>
  <arg name="obj_num" default="10" />
  <arg name="drone_id" default="0"/>

  <arg name="map_size_x" default="400"/>
  <arg name="map_size_y" default="400"/>
  <arg name="map_size_z" default="7"/>

  <arg name="odom_topic" default="/mavros/local_position/odom"/>
  <arg name="cloud_topic" default="/world_cloud"/>
  <arg name="use_dynamic_drone_occupancy" default="false"/>

  <arg name="cx" default="323.3316345214844"/>
  <arg name="cy" default="234.95498657226562"/>
  <arg name="fx" default="384.39654541015625"/>
  <arg name="fy" default="384.39654541015625"/>

  <arg name="max_vel" default="1.0" />
  <arg name="max_acc" default="2.0" />
  <arg name="planning_horizon" default="6" />
  <arg name="use_distinctive_trajs" default="false" />
  <arg name="planning_enabled_on_start" default="true" />

  <arg name="point_num" default="1" />
  <arg name="point0_x" default="15.0" />
  <arg name="point0_y" default="0.0" />
  <arg name="point0_z" default="1.0" />
  <arg name="point1_x" default="0.0" />
  <arg name="point1_y" default="0.0" />
  <arg name="point1_z" default="1.0" />
  <arg name="point2_x" default="15.0" />
  <arg name="point2_y" default="0.0" />
  <arg name="point2_z" default="1.0" />
  <arg name="point3_x" default="0.0" />
  <arg name="point3_y" default="0.0" />
  <arg name="point3_z" default="1.0" />
  <arg name="point4_x" default="15.0" />
  <arg name="point4_y" default="0.0" />
  <arg name="point4_z" default="1.0" />

  <arg name="enable_rviz" default="true" />

  <include file="$(find ego_planner)/launch/advanced_param_exp.xml">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num_set" value="$(arg obj_num)" />

    <arg name="camera_pose_topic" value="nouse1"/>
    <arg name="depth_topic" value="/camera/depth/image_rect_raw"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>

    <arg name="cx" value="$(arg cx)"/>
    <arg name="cy" value="$(arg cy)"/>
    <arg name="fx" value="$(arg fx)"/>
    <arg name="fy" value="$(arg fy)"/>

    <arg name="max_vel" value="$(arg max_vel)" />
    <arg name="max_acc" value="$(arg max_acc)" />
    <arg name="planning_horizon" value="$(arg planning_horizon)" />
    <arg name="use_distinctive_trajs" value="$(arg use_distinctive_trajs)" />
    <arg name="planning_enabled_on_start" value="$(arg planning_enabled_on_start)" />
    <!-- <arg name="use_dynamic_drone_occupancy" value="$(arg use_dynamic_drone_occupancy)"/> -->

    <arg name="flight_type" value="4" />

    <arg name="point_num" value="$(arg point_num)" />
    <arg name="point0_x" value="$(arg point0_x)" />
    <arg name="point0_y" value="$(arg point0_y)" />
    <arg name="point0_z" value="$(arg point0_z)" />
    <arg name="point1_x" value="$(arg point1_x)" />
    <arg name="point1_y" value="$(arg point1_y)" />
    <arg name="point1_z" value="$(arg point1_z)" />
    <arg name="point2_x" value="$(arg point2_x)" />
    <arg name="point2_y" value="$(arg point2_y)" />
    <arg name="point2_z" value="$(arg point2_z)" />
    <arg name="point3_x" value="$(arg point3_x)" />
    <arg name="point3_y" value="$(arg point3_y)" />
    <arg name="point3_z" value="$(arg point3_z)" />
    <arg name="point4_x" value="$(arg point4_x)" />
    <arg name="point4_y" value="$(arg point4_y)" />
    <arg name="point4_z" value="$(arg point4_z)" />
  </include>

  <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
    <remap from="~planning/bspline" to="drone_$(arg drone_id)_planning/bspline"/>
    <param name="traj_server/time_forward" value="1.0" type="double"/>
  </node>

  <node pkg="odom_visualization" name="drone_$(arg drone_id)_odom_visualization" type="odom_visualization" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>
    <param name="frame_id" value="world"/>
    <param name="color/a" value="1.0"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.0"/>
    <param name="covariance_scale" value="100.0"/>
    <param name="robot_scale" value="1.0"/>
    <param name="tf45" value="false"/>
    <param name="drone_id" value="$(arg drone_id)"/>
  </node>

  <node if="$(arg enable_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="true" />
</launch>
